.newsletter-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-self: start;
    
}


ul{
    list-style: none;
}
.image-illustration{
    display: flex;
    justify-content: right;
    align-self: start;

}